.container-checkout > section > div.checkout-wrapper-promocode{
    display:none;
}

section.why-choose-block.static-pages {
    display: none;
}

.custom-input-code {
    height: 5rem;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e0e4ea;
    border-bottom: 2px solid #656f84;
    padding: 1.2rem 2rem 0;
    margin-top: 9px;
    font-size: 1.4rem;
    color: #656f84;
    outline: 0;
}
.custom-promocode-submit{
    position: absolute;
    right: 0px;
    margin-right: 19px;
    top: 28px;
}

.form-group.text-container.small {
    width: 368px!important;
}

ul.recap-list {
    padding-left: 10px!important;
}

.checkout-wrapper-promocode.mt-2.flex.col {
    padding: 0px 10px;
}

.recap {
    padding: 30px 22px;
    margin: 0px!important;
}

.recap-title {
    margin: 0px!important;
}

ul.recap-list {
    top: 30px!important;
    margin-bottom: 30px!important;
}

.recap-row {
    padding: 10px 0px!important;
    min-height: 50px!important;
}

.custom-placeholder-heading {
    position: absolute;
    top: 13px;
    left: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    visibility: hidden;
}
.custom-message {
    padding-top: 8px;
}
.show-heading{
    visibility: visible;
    color:#276EF1;
}
.custom-pass{
    color:green;
}
.custom-fail{
    color:red;
}
.custom-border-color-pass{
    border-bottom: 2px solid green;
}
.custom-border-color-fail{
    border-bottom: 2px solid red;
}
.custom-right{
    visibility: hidden;
    position: absolute;
    top:0px;
}
.custom-wrong{
    visibility: hidden;
    position: absolute;
    top:0px;
}
.custom-arrow{
    visibility: hidden;
    position: absolute;
    top:0px;
}
.custom-show{
    visibility:visible;
}
